/** @format */

.WorksheetGen {
	width: 90%;
	margin: 0 auto;
}









.worksheetGenList {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.worksheetGenList ul {
	display: flex;

	margin: 0 auto;
	padding: 0;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	font-size: 1.2em;
}

.worksheetGenList li {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 20px;

}

.worksheetGenListItem {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.worksheetInfoTextBox .ql-editor {
	margin-left: 5px;
	font-family: "Spectral", serif;
	border: 1px solid #000000;
	font-size: 1.3em;
	line-height: 1.5;
	color: #2d2d2d;
	padding: 8.61px; /* Required to get the height to 48px */
	border-radius: 3px;
	min-width: 265px;
	max-width: 35vw;
	margin-left: auto;
}

.toTestFor {
	display: flex;
	height: 48px;
	margin-left: 15px;
	margin-right: 9px;
	align-items: center;
	font-size: 0.8em;
	width: 194;
	min-width: 194;
}


.OutputTextbox {
	padding: 10px;

	border: 2px solid #000000;
	border-radius: 3px;
	margin: 0 auto;
	display: block;
	text-align: left;
}

.worksheetSubtitle {
	margin-top: 0px;
	padding: 0px;
	font-size: 1.2em;
	text-decoration: underline;
	margin-bottom: -5px;
}



@media screen and (max-width: 933px) {
	.WorksheetGen {
		width: 95%;
		font-size: 0.9em;
	}
}

@media screen and (max-width: 630px) {
.worksheetGenListItem {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
	.WorksheetGen {
		font-size: 0.83em;
	}

	.worksheetInfoTextBox {
		margin-left: 30px;
	}

}
