/** @format */

.editorBox{
    position: relative;
    margin-bottom: 10px;
    width: 80%;
    margin: 0 auto;
}

.editorBox .ql-editor {
	font-family: "Spectral", serif;
	border: 2px solid #000000;
	font-size: 1.2rem;
	line-height: 1.5;
	color: #2d2d2d;
	padding: 1rem;
	min-height: 300px;
	border-radius: 3px; 
}
.ql-container.ql-snow {
    border: none !important;
}
.ql-toolbar.ql-snow {
	display: none;
}

.ql-font-roboto {
	font-family: "Spectral", serif;
}

.ClearFormattingButton {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	z-index: 1;
}



/* Top bar */

.infoBar {
	width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	margin: 10px auto;
	font-size: 1.2em;
}

.infoBarText {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	
}





.up-down-selector {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 0.2em;
	transform: translateY(-0.3em);
	border-radius: 0px;

}
.triangle-button:hover {
	background-color: transparent;
	color: #222;
	transform: scale(1.1);
}

.triangle-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: none;
	padding: 0;
	margin-top: 0.2em;
	color: #000000;
	background-color: transparent;
	cursor: pointer;
	box-shadow: none;
	border-radius: 0px;
}

.triangle-button:focus {
	outline: none;
}

.readabilityButtons {
	height: 127px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.readabilityButtons button {
	margin-inline: 10px;
	font-size: 1.35em;
	padding-inline: 10px;
	padding-block: 8px;
	border-radius: 5px;
	border: none;
}
.readabilityButtons button:hover {
	background-color: #000000;
}

.RemoveGenerationButton {
	cursor: pointer;
	margin-top: auto;
	margin-bottom: auto;

}

.SelectOptions ul {

	display: flex;
	max-width: 315px;
	margin: 0 auto;
	padding: 0;
	flex-direction: column;
	justify-content: space-between;

	font-size: 1.2em;
  }

.SelectOptions li {
	margin-top: 5px;
	display: block;
	width: 100%;
	flex: 0 0 80px;
  }

  .responseBox {
	border: 2px solid #000000;
	text-align: left;
	font-size: 1.25rem;
	border-radius: 3px;
	padding: 20px;
	padding-top: 5px;
	min-height: 150px;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 35px;
  }

  .ReactCollapse--collapse {
	transition: height 500ms;
  }

  .collapseBar {
	
	
	padding: 0.15em 1.25em;
	border-radius: 5px;
  }
  .leftInfo {
	text-align: left;
  }
  .rightInfo {
	text-align: right;
  }


  @media screen and (max-width: 630px) {
	.infoBar {
		font-size: 1em;
		width: 98%;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
	.leftInfo {
		text-align: center;
		align-items: center;
		justify-content: center;
		margin-right: 20px;
	}
	.rightInfo {
		text-align: center;
	}
	.worksheetInfoBar {
		grid-template-rows: 1fr !important;
	}
  }