/** @format */

.generationOption {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px;
	background-color: #ddd;
	color: #000;
	cursor: pointer;
	
}

.Generations {
	white-space: pre-wrap;
	text-align: left;
	font-size: 1.3em;
	
}
.generationsReader {
	width: max(80%, 480px);
	margin: 0 auto;
	color: #1f1f1f;
}

.generationsTabBar {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 65px;
	text-align: center;
	font-size: 0.9em;
}

.generationsTab {
	height: 100%;
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ddd;
	color: #000;
	cursor: pointer;
}

.lessonPlanReviewer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3.8rem auto auto auto auto auto;
	gap: 0px;
	
	max-width: min(90vw, 900px);
	background: #f5f5f5;
	padding: 10px;
	padding-bottom: 0px;

	margin: 0 auto;
}

.ql-editor-review {
	font-family: "Spectral", serif;
	border: 2px solid #000000;
	font-size: 1.2rem;
	line-height: 1.5;
	color: #2d2d2d;
	padding-inline: 0.7em;
	padding-block: 5px;
	min-height: 300px;
	border-radius: 3px; 
	margin-bottom: 15px;

}

.reviewBoxLabel {
	font-size: 1.1em;
	font-weight: 300;
	margin-bottom: 0px;
	margin-top: 0px;
}

.lessonReviewStats {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	font-size: 0.8em;
}

@media screen and (max-width: 725px) {
	.Generations {
		font-size: 1em;
	}
	
}

@media screen and (max-width: 500px) {

.Generations {
	font-size: 0.8em;
}
.generationsReader {
	width: 100%;
}


}