/** @format */



.App {
	scrollbar-gutter: stable;
  font-size: 18px;
}

.appBody {
  margin: 0 auto;
	min-height: 100vh;
  max-width: 1280px;
  
	text-align: center;
}


.header {
  margin: 0 auto;
  background-color: #222;
  width: 100%;
  margin-left: 0;
}

.header-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  max-width: 1280px;
  color: #fff;
}

.footer {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
	width: 100%;
  background-color: #222;
	color: #fff;
  margin-top: 40px;
}

.amplify-tabs-item {
	color: #000 !important;
}

[data-state="active"] {
	border-top-color: #000 !important;
}

.amplify-button--primary {
	background-color: #000 !important;
	color: #fff !important;
}

.amplify-button--small {
	color: #000 !important;
}

.invisibleText {
	color: transparent;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.navigation {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbutton, .navlink {
  display: flex;
  align-items: center;
  height: 100%;
  padding-inline: 20px;
  
  color: #FFFFFF;
  background-color: #222;
  border: none;
  border-radius: 0;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}


.navbutton:hover, .navlink:hover {
  background-color: #333;
}

.logo {
  font-size: 1.5rem;
  margin: 0;
  height: 100%;
}


.mainlink {
  font-size: 1.2em;
  padding-block: 0;
  height: 100%;
  background-color: #222;
  display: flex;
  align-items: center;
}

.specialnavbutton {
  background-color: #3c2238;
  color: #fff;
  font-size: 17px;
}

.specialnavbutton:hover {
  background-color: #84296c;
}


@media screen and (max-width: 500px) {
  .header-content {
    flex-direction: column;
    height: 100%;
  }
  .navbutton, .navlink {
    padding-inline: 10px;
  }
  .mainlink {
    font-size: 1em;
  }
  .specialnavbutton {
    font-size: 1em;
  }
  .appBody {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 315px;
    padding: 0px;
    text-align: center;
  }
}