:root {
  font-family: 'Spectra', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #404040;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* a {
  color: #000;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button, .linkButton {
  
  cursor: pointer;
  background-color: #2e2e2e;
  border: none;
  padding-inline: 7px;
  padding-block: 3px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff
  
}
.linkButton {
  width: max-content;
  display: flex;
}
button:hover, .linkButton:hover {
  background-color: #222222;
}

/* {display: flex;
  align-items: center;
  height: 100%;
  padding-inline: 20px;
  
  color: #FFFFFF;
  background-color: #222;
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;} */



